<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'machines/style.css' %}">
    {% block head %} {% endblock %}
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="{% url 'machines:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'machines:queue' %}">Queue</a></li>
        <li><a href="{% url 'machines:machines' %}">Printers</a></li>
        <li><a href="{% url 'machines:cad' %}">CAD Files</a></li>
    </ul>
</div>
    {% block content %}
    {% endblock %}

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }

    return cookieValue;
}
</script>
{% block script %}
{% endblock %}
</body>
</html>