{% extends 'machines/base.html' %}
{% load static %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name='add' value="Add">
    <input type="submit" name='add_and_queue' value="Add and Queue">
</form>
{% endblock %}