{% extends 'machines/base.html' %}
{% load static %}

{% block head%}
<script src="{% static 'machines/alertify.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'machines/alertify.min.css' %}" />
<link rel="stylesheet" href="{% static 'machines/themes/default.min.css' %}" />
{% endblock head %}

{% block content %}
<a href="{% url 'machines:cad_add' %}">Add CAD File</a>
<input type="text" id="searchInput" onkeyup="search()" placeholder="Search..">
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Add to Queue</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Will Run On</th>
    </tr>
    </thead>
    <tbody>
        {% for file in cad_files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>
                {% for tag in file.tags.all %}
                    <span class="tag-pill">{{ tag.name }}</span>
                {% endfor %}
            </td>
            <td>
                <button class="add_queue" data-pk={{ file.pk }} data-name="{{ file.name }}">Add to Queue.</button>
            </td>
            <td>
                <a href="{% url 'machines:cad_edit' file.id %}">Edit</a>
            </td>
            <td>
                <button class='delete_cadfile' data-pk={{ file.pk }} data-name="{{ file.name }}">Delete</button>
            </td>
            <td>
                {% for tag in file.machine_tags.all %}
                    <span class="tag-pill">{{ tag.name }}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block script %}
<script>
function search() {
    // Declare variables
    var input, filter, table, tr, td, i, j, tds, ths, matched;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    tr = document.getElementsByTagName("tr");

    // Loop through all table rows, and hide
    // those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        tds = tr[i].getElementsByTagName("td");
        ths = tr[i].getElementsByTagName("th");
        matched = false;

        // leave the row header
        if (ths.length > 0) {
            matched = true;
        }
        else {
            for (j = 0; j < tds.length; j++) {
                td = tds[j];
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    matched = true;
                    break;
                }

            }
        }
        if (matched == true) {
            tr[i].style.display = "";
        }
        else {
            tr[i].style.display = "none";
        }
    }
}

const repeatElement = document.querySelectorAll('.add_queue')

repeatElement.forEach(function(item) {
    item.addEventListener('click', (event) => {
        const item_pk = event.target.getAttribute('data-pk');
        const item_name = event.target.getAttribute('data-name');
        console.log(event.target.value);
        data = JSON.stringify({count: event.target.value});
        let csrftoken = getCookie('csrftoken');
        let response = fetch('/cad/' + item_pk + '/queue', {
            method: "POST",
            body: data,
            headers: { 'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json',
                        "X-CSRFToken": csrftoken },
        });
        alertify.success(item_name + ' added to queue.');
    });
});

const deleteElement = document.querySelectorAll('.delete_cadfile');

deleteElement.forEach(function(item) {
    item.addEventListener('click', (event) => {
        const item_pk = event.target.getAttribute('data-pk');
        const item_name = event.target.getAttribute('data-name');

        let csrftoken = getCookie('csrftoken')

        if(confirm("Delete " + item_name + "?")) {
            let response = fetch('/cad/' + item_pk + '/delete', {
                method: "POST",
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken 
                },
            });
            location.reload();
        }
    });
});
</script>
{% endblock %}