{% extends 'machines/base.html' %}
{% load static %}

{% block head %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<h3>Filter By</h3>
<div class="filter-bar">
    <div>
        <input type="checkbox" id="ready" name="ready" checked>
        <label for="ready">Ready</label>
    </div>
    <div>
        <input type="checkbox" id="check" name="check" checked>
        <label for="ready">Check</label>
    </div>
    <div>
        <input type="checkbox" id="printing" name="printing" checked>
        <label for="ready">Printing</label>
    </div>
    <div>
        <input type="checkbox" id="unknown" name="unknown" checked>
        <label for="ready">Unknown</label>
    </div>
</div>
<div class="dashboard-items">
    {% for printer in printers %}
        <div class="card">
            <h4>{{ printer.name }}</h4>
            <p class="last-checked">Last checked: {{ printer.last_updated|timesince }} ago.</p>
            {% if printer.status == "Printing" %}
                <p class="eta">Currently Printing.</p>
                <p class="eta">ETA: {{ printer.eta|timeuntil }}</p>
                <p class='eta'><progress value={{ printer.percent_done }} max=100></progress>
            {% endif %}
            {% if printer.status == "Print Done" %}
            <form action="{% url 'machines:clear_bed' printer.id %}" method="post">
                {% csrf_token %}
                <button class="card-button">Clear Bed.</button>
            </form>
            {% endif %}
            {% if printer.status == "Offline" %}
                <a href={{ printer.octoprint }}>Machine Offline, please check.</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}