{% extends 'machines/base.html' %}
{% load static %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Add to Queue</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for file in gcode %}
        <tr>
            <td>{{ file.name }}</td>
            <td>
                {% for tag in file.tags.all %}
                    <span class="tag-pill">{{ tag.name }}</span>
                {% endfor %}
            </td>
            <td>
                <form action="{% url 'machines:gcode_queue' file.id %}" method="post">
                    {% csrf_token %}
                    <button>Add to Queue.</button>
                </form>
            </td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <button>Delete.</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}