{% extends 'machines/base.html' %}
{% load static %}

{% block content %}
<a href="{% url 'machines:machine_add' %}">Add Printer</a>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Last Update</th>
        <th>Tags</th>
        <th>Link</th>
        <th>Online</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
{% for printer in printers %}
        <tr>
            <td>{{ printer.name }}</td>
            <td>{{ printer.status }}</td>
            <td>{{ printer.last_updated|timesince }}</td>
            <td>
                {% for tag in printer.tags.all %}
                    <span class="tag-pill">{{ tag }}</span>
                {% endfor %}
            </td>
            <td><a href="{{ printer.octoprint }}">Visit</a></td>
            <td>
                <form action="{% url 'machines:machine_online_checkbox' printer.pk %}" method="post" target="_self">
                    {% csrf_token %}
                    <input type="checkbox" name="online" onChange="this.form.submit()" {% if printer.online %} checked {% endif %}>
                </form>
            </td>
            <td>Edit</td>
            <td><button class='delete_printer' data-pk={{ printer.pk }} data-name="{{ printer.name }}">Delete</button></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
const deleteElement = document.querySelectorAll('.delete_printer');

deleteElement.forEach(function(item) {
    item.addEventListener('click', (event) => {
        const item_pk = event.target.getAttribute('data-pk');
        const item_name = event.target.getAttribute('data-name');

        let csrftoken = getCookie('csrftoken')

        if(confirm("Delete " + item_name + "?")) {
            let response = fetch('/machines/' + item_pk + '/delete', {
                method: "POST",
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken 
                },
            });
            location.reload();
        }
    });
});
</script>
{% endblock %}