{% extends 'machines/base.html' %}
{% load static %}

{% block content %}
<h1>Current Queue</h1>
<table>
    <thead>
    <tr>
        <th class="queue-position">Position</th>
        <th>Name</th>
        <th class="queue-repeat">Quantity</th>
        <th class="queue-move">Move Position</th>
        <th class="queue-remove">Remove</th>
    </tr>
    </thead>
    <tbody>
    {% for item in queue %}
    <tr>
        <td>{% if item.currently_printing %} - {% else %}{{ item.position }}{% endif %}</td>
        <td>{{ item.cad_file.name }}</td>
        <td>
            <div>
                <input type="number" class='repeat' data-pk={{ item.pk }} id="repeat" min=1 size="1" value={{ item.amount_to_print }} name="repeat">
            </div>
        </td>
        <td>
            <div>
                <form action="{% url 'machines:queue_up' item.pk %}" method="post">
                    {% csrf_token %}
                    <button>U</button>
                </form>
                <form action="{% url 'machines:queue_down' item.pk %}" method="post">
                    {% csrf_token %}
                    <button>D</button>
                </form>
            </div>
        </td>
        <td>
            <form action="{% url 'machines:queue_delete' item.pk %}" method="post">
                {% csrf_token %}
                <button>Remove</button>
            </form>
        </td>
    </tr>
    </tbody>
    {% empty %}
    The current queue is empty, <a href="{% url 'machines:cad' %}">Add some here.</a>
    {% endfor %}
</table>
<script>
    const repeatElement = document.querySelectorAll('.repeat')

    repeatElement.forEach(function(item) {
        item.addEventListener('change', (event) => {
            const item_pk = event.target.getAttribute('data-pk');
            console.log(event.target.value);
            data = JSON.stringify({count: event.target.value});
            let csrftoken = getCookie('csrftoken');
            let response = fetch('/queue/' + item_pk + '/repeat', {
                method: "POST",
                body: data,
                headers: { 'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json',
                            "X-CSRFToken": csrftoken },
            });
            console.log(item_pk);
        });
    });

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }

    return cookieValue;
}
</script>
{% endblock %}