:root {
    --gray1: #F5F0F0;
    --gray2: #E7E2E2;
    --gray3: #D8D3D3;
    --gray4: #BBB6B6;
    --gray5: #817C7C;
    --gray6: #181010;

    --blue1: #EEF6FB;
    --blue2: #BFDCF1;
    --blue3: #90C2E7;
    --blue4: #4E728D;
    --blue5: #0B3132;
    --blue6: #071621;

    --red1:  #DBA9AC;
    --red2:  #D08A90;
    --red3:  #C46D73;
    --red4:  #AC484F;
    --red5:  #944247;
    --red6:  #59262A;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    color: var(--gray6)
}

a:link {
    color: var(--blue4);
}

a:visited {
    color: var(--blue3);
}

.nav {
    display: flex;
    background-color: var(--red6);
    color: white;
    margin-bottom: 10px;
}

.nav li {
    display: inline;
}

.dashboard-items {
    display: grid;
    grid-auto-flow: column;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    margin: auto;
}

.card > h4 {
    margin: auto;
    margin-bottom: 5px;
}

.card p {
    text-align: left;
}
.card-printing {
    background-color: yellow;
}

.card-unknown {
    background-color: red;
}

.card-ready {
    background-color: green;
}

.card-button {
    margin-top: 25px;
}

.filter-bar {
    display: flex;
    border: 1px solid black;
    margin-bottom: 10px;
}

.tag-pill {
    background: var(--red1);
    border-radius: 500px;
    padding: 2px 7px 2px 7px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: var(--gray2);
}

tbody tr:nth-child(even) {
    background-color: var(--gray1);
}

.queue-position, .queue-repeat, .queue-move, .queue-remove {
    width: 7%;
}


